#!/bin/bash
set +x

# The IP of the VM
VM_IP=172.16.155.138

# The SSH port used to access the VM
VM_SSH_PORT=22

# The HOST (machine that runs the VM) IP
HOST_IP=172.16.155.1

# The HOST HTTP port used to serve your local Arch Linux mirror (if you'll use one)
HOST_HTTP_PORT=8000

# Virtual Machine (VM) Provider. Options are "VirtualBox" and "VMWare"
# Using VirtualBox, in general, I prefer to estabilish a connection via NAT
#   trhough a configured port forwarding
VM_PROVIDER=VirtualBox
if [ "$VM_PROVIDER" = "VirtualBox" ]
then
  VM_IP=127.0.0.1
  VM_SSH_PORT=2222
  HOST_IP=10.0.2.2
fi

# The host name of the VM
HOSTNAME=archlinux
# The user that will give administrative privileges
USERNAME=pj
# The password of this user
USERPASS=$USERNAME
# The home directory of this user
HOME_DIR=/home/$USERNAME
# The swap  partition size
SWAP_SIZE=2G

# Arch Linux mirror URL (could be local - see archlinux-mirror-syncrhonizer project)
ARCHLINUX_MIRROR_URL="http://br.mirror.archlinux-br.org"
#ARCHLINUX_MIRROR_URL="http://ftp.rnl.tecnico.ulisboa.pt/pub/archlinux"

# If we have a local mirror of Arch Linux we assume that it is local (on HOST)
#   and we'll use it:
ARCHLINUX_LOCAL_MIRROR=true
if $ARCHLINUX_LOCAL_MIRROR
then
  ARCHLINUX_MIRROR_URL="http://$HOST_IP:$HOST_HTTP_PORT"
fi
